  html {
  background-color: #e7ce9f;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  }

  h1, h2, h3, h4{
  color:#452fbe;
  }

  h1{
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3rem;

  text-shadow: 4px 4px #c5bbff;
  }

  h2{ 
  font-weight:600;
  font-size:1.5rem;
  font-family: 'IBM Plex Mono', monospace;
  }

h3, h4 {
  font-weight: 500;
  font-family: 'IBM Plex Mono', monospace;
}

h4{
  font-size:1rem;
  }

p{
  font-family: 'Open Sans', sans-serif;
  }

.grid {
  display:grid;   
  grid-template-areas:  "sidebar header"
                        "sidebar content"
                        "sidebar footer";
  grid-template-rows:    100px 2fr 80px;
  grid-template-columns: .7fr 5.6fr;
  grid-gap: 50x;
  }

.sidebar {
  grid-area:sidebar;
  background-color: #dab46d;
   /* 100% full-height */
  height: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  overflow: hidden;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
  
}
.header{
  grid-area:header;
}
.content{
  grid-area:content;
}
 .footer{
   grid-area:footer;
 }